@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Montserrat+Alternates:ital,wght@1,400;1,600&display=swap');


/* = COMMON ===  */

body {
  margin: o auto;
}

p {
  margin: 0;
}

.section-outer {
  max-width: 1200px;
  margin: 0 auto;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*  === / COMMON ===  */

/*  === HEADER ===  */
label {
  display: none;
  font-size: 40px;
}

#toggle {
  display: none;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav {}

.flags {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.lang-ua {
  padding-left: 5px;
  padding-right: 5px;

}

.lang-ru {
  padding-right: 10px;

}

a {
  margin-left: 30px;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 22px;
  color: rgb(121, 61, 6);
  padding-bottom: 40px;
}

.nav-ul-item-link {
  transition: 0.3s;

}

/* unvisited link */
.nav a:link {
  color: rgb(121, 61, 6);
  text-decoration: none;
}

/* visited link */
.nav a:visited {
  color: rgb(121, 61, 6);
  text-decoration: none;
}

/* mouse over link */
.nav a:hover {
  color: dodgerblue;
  text-decoration: none;
}

@media (max-width: 1080px) {

  .nav {
    display: none;
  }

  label {
    display: block;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 20px;
  }

  #toggle:checked+.nav {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
  }

  #toggle:checked+.nav a {
    display: block;
    margin: 20px 0;
    padding: 0;
    font-size: 16px;
  }

  #toggle:checked+.label {
    margin: 0;
    padding: 0;
  }

  .main-navigation {

    align-items: flex-start;
    justify-content:center;
  }

  

}

/*  === / HEADER ===  */


/*  === CONTACT-INFO ===  */
.contact-info-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone_number {
  font-size: 20px;
  font-family: 'Montserrat Alternates';
  font-weight: 600;

}

.work_time {
  font-size: 16px;
  color: rgb(121, 61, 6);
  font-style: italic;
  font-weight: 600;
  font-family: 'Montserrat Alternates';
}

.info {
  flex: 1 1 66.6%;
  font-family: 'Montserrat Alternates';
  font-weight: 600;
  font-size: 36px;
  color: rgb(121, 61, 6);
  margin: 20px 20px;
  padding: 0;
}

.contacts-wrapper {
  flex: 1 1 33.3%;
  margin: 20px 20px;
  padding: 0;
}

@media (max-width: 1080px) {
  .contact-info-main {
    flex-flow: column;
    
  }

.phone_number,
.work_time,
.info {
  font-size: 20px;
}
 
}

/*  === / CONTACT-INFO ===  */


/*  === HONEY-DESCRIPTION ===  */

.section-honey-description {
  display: flex;
  flex-flow: column;
  margin: 0px 20px;
}

.description-image {
  background: url('./honey-description.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
height: 400px;
width: 100%;
}

.image-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.honey-description-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat Alternates';
  font-weight: 600;
  font-size: 32px;
  color: rgb(121, 61, 6);
  margin-top: 20px;
}

.honey-description-content p {
  text-align: center;

}

@media (max-width: 1080px) {
  .honey-description-content p {
    font-size: 20px;
  }

}

/*  === / HONEY-DESCRIPTION ===  */

/*  === PRODUCTS ===  */
.section-products {
  margin-top: 20px;
}

.products-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.products-wrapper p {
  font-family: 'Montserrat Alternates';
  font-weight: 600;
  font-size: 24px;
  color: rgb(121, 61, 6);
  margin-top: 15px;
}

/*  === / PRODUCTS ===  */


/*  === ADVANTAGES ===  */
.section-advantages {}

/*  === / ADVANTAGES ===  */


/*  === FOOTER-CONTACTS ===  */
.section-footer-contacts {}

/*  === / FOOTER-CONTACTS ===  */


/*  === FOOTER ===  */
.section-footer {
  border-bottom: 0;
}

/*  === / FOOTER ===  */