@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Montserrat+Alternates:ital,wght@1,400;1,600&display=swap');

 /* = COMMON ===  */
body {
  font-family: sans-serif;
  font-size: 40px;
}

.section-outer {
  border-bottom: 1px solid rgb(62, 113, 209);
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-inner-header-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

 /*  === / COMMON ===  */ 

 /*  === HEADER ===  */ 
.section-header {

}
.main-navigation {
  display: flex;
  align-items: center;
}

.nav {
  
margin: 0 auto;
}

.nav-link {

}

.nav-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.nav-ul-item {

  margin-left: 40px;
  font-family: sans-serif;
  font-size: 20px;
}
.nav-ul-item-link {
transition: 0.3s;

}

/* unvisited link */
.nav-ul-item a:link {
  color:darkslategrey;
  text-decoration: none;
}

/* visited link */
.nav-ul-item a:visited {
  color: darkslategrey;
  text-decoration: none;
}

/* mouse over link */
.nav-ul-item a:hover {
  color: dodgerblue;
  text-decoration: none;
}

/* selected link */
.nav-ul-item a:active {
  color:maroon;
  text-decoration: none;
}

.flags-wrapper {
  display: flex;
  align-items: center;
}

.lang-ua {
padding-left: 10px;
padding-right: 10px;

}

.lang-ru {

 
}

 /*  === / HEADER ===  */ 


 /*  === CONTACT-INFO ===  */ 
.section-contact-info {
  display: flex;
 justify-content: flex-end;
 align-items: flex-end;
 flex-direction: column;
}

.phone_number {
height: 50px;
width: 250px;
font-size: 20px;
font-family: 'Montserrat Alternates';
font-weight: 600;
}
.work_time {
  height: 50px;
width: 250px;
font-size: 16px;
}

 /*  === / CONTACT-INFO ===  */ 


 /*  === HONEY-DESCRIPTION ===  */ 
.section-honey-description {
  background: url('./honey-description.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}
 /*  === / HONEY-DESCRIPTION ===  */ 
.honey-description-content {

  width: 500px;
  font-family: 'Montserrat Alternates';
font-weight: 600;
font-size: 36px;
margin-right: 100px;
margin-left: 100px;
margin-top: 200px;
color:rgb(61, 28, 4);
}

 /*  === PRODUCTS ===  */ 
.section-products {}
 /*  === / PRODUCTS ===  */ 


 /*  === ADVANTAGES ===  */ 
.section-advantages {}
 /*  === / ADVANTAGES ===  */ 


 /*  === FOOTER-CONTACTS ===  */ 
.section-footer-contacts {}
 /*  === / FOOTER-CONTACTS ===  */ 


 /*  === FOOTER ===  */ 
.section-footer {
  border-bottom: 0;
}
 /*  === / FOOTER ===  */ 

