@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Montserrat+Alternates:ital,wght@1,400;1,600&display=swap');


 /* = COMMON ===  */
body {
  font-family: sans-serif;
  font-size: 40px;
}

p {
  margin: 0;
}

.section-outer {
  
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-inner-header-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

 /*  === / COMMON ===  */ 

 /*  === HEADER ===  */ 
.section-header {

}
.main-navigation {
  display: flex;
  align-items: center;
}

.nav {
  
margin: 0 auto;
}

.nav-link {
 
}

.nav-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
}
.nav-ul-item {
  
  margin-left: 40px;
  font-family: sans-serif;
  font-size: 32px;
  color:rgb(121, 61, 6);
}
.nav-ul-item-link {
transition: 0.3s;

}

/* unvisited link */
.nav-ul-item a:link {
  color:rgb(121, 61, 6);
  text-decoration: none;
}

/* visited link */
.nav-ul-item a:visited {
  color:rgb(121, 61, 6);
  text-decoration: none;
}

/* mouse over link */
.nav-ul-item a:hover {
  color: dodgerblue;
  text-decoration: none;
}

/* selected link */
.nav-ul-item a:active {
  color:maroon;
  text-decoration: none;
}

.flags-wrapper {
  display: flex;
  align-items: center;
}

.lang-ua {
padding-left: 10px;
padding-right: 10px;

}

.lang-ru {
  padding-right: 20px;
 
}

 /*  === / HEADER ===  */ 


 /*  === CONTACT-INFO ===  */ 
.section-contact-info {
  display: flex;
 justify-content: space-between;
 flex-flow: row nowrap;
 align-items: center;
}

.phone_number {
height: 50px;
width: 250px;
font-size: 20px;
font-family: 'Montserrat Alternates';
font-weight: 600;
margin-top: 50px;
}
.work_time {
  height: 50px;
width: 250px;
font-size: 16px;
color:rgb(121, 61, 6);
font-style: italic;
font-weight: 600;
font-family: 'Montserrat Alternates';

}

.info {
  font-family: 'Montserrat Alternates';
  font-weight: 600;
  font-size: 36px;
  color:rgb(121, 61, 6);
  margin-bottom: 20px;
margin-right: 40px;
margin-left: 20px;
margin-top: 20px;
}

.contacts-wrapper {

}

 /*  === / CONTACT-INFO ===  */ 


 /*  === HONEY-DESCRIPTION ===  */ 

.section-honey-description {
  display: flex;
  flex-flow: column;
}

/*.description-image {
  background: url('./honey-description.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}*/

.honey-description-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat Alternates';
  font-weight: 600;
  font-size: 32px;
  color:rgb(121, 61, 6);
  margin-bottom: 50px;
  margin-top: 20px;
  }
  .honey-description-content p {
    text-align: center;
  
  }

 /*  === / HONEY-DESCRIPTION ===  */ 

 /*  === PRODUCTS ===  */ 
.section-products {
  margin-top: 100px;
}

.products-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.products-wrapper p {
  font-family: 'Montserrat Alternates';
  font-weight: 600;
  font-size: 24px;
  color:rgb(121, 61, 6);
  margin-top: 15px;
}
 /*  === / PRODUCTS ===  */ 


 /*  === ADVANTAGES ===  */ 
.section-advantages {}
 /*  === / ADVANTAGES ===  */ 


 /*  === FOOTER-CONTACTS ===  */ 
.section-footer-contacts {}
 /*  === / FOOTER-CONTACTS ===  */ 


 /*  === FOOTER ===  */ 
.section-footer {
  border-bottom: 0;
}
 /*  === / FOOTER ===  */ 


 @media screen and ( max-width: 420px ) {
   .nav {
    display: none;
  }
}
